.mapboxgl-popup {
    max-width: 200px !important;
    max-height: 120px !important;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    /* display: flex;
    will-change: transform; */
}
.mapboxgl-canvas {
    position: relative !important;
}
.map-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.mapboxgl-popup-content.leaflet {
    width: 35% !important;
    display: inline-block !important;
    }
  .mapboxgl-popup-content.rightlet {
    width: 60% !important;
    display: inline-block !important;
    height: auto;
    object-fit: cover;
    }
    .mapboxgl-popup-content{
      padding: 5px 8px 5px !important;
    }
  